@import "../../../../styles/variables.scss";

.this__day {
  display: flex;
  flex-direction: column;
  gap: 30px;

  background: $lite-background;
  box-shadow: $box-shadow;
  border-radius: 20px;
  padding: 20px;

  .top__block {
    display: flex;
    align-items: center;
    gap: 67px;
    justify-content: space-between;

    .left {
      .degrees {
        font-size: 96px;
        font-weight: 500;
        color: #4793ff;
      }

      .today {
        font-size: 40px;
        font-weight: 400;
        line-height: 49px;
        color: $lite-color;
      }
    }

    .right {
      svg {
        width: 119px;
        height: 119px;
      }
    }
  }

  .bottom__block {
    display: flex;
    flex-direction: column;
    gap: 14px;

    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: $base-color;
  }
}
