.this__day {
  display: flex;
  flex-direction: column;
  gap: 30px;

  background: #ffffff;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 20px;
  padding: 20px;

  .top__block {
    display: flex;
    align-items: center;
    gap: 67px;

    .left {
      .degrees {
        font-size: 96px;
        font-weight: 500;
        color: #4793ff;
      }

      .today {
        font-size: 40px;
        font-weight: 400;
        line-height: 49px;
      }
    }
  }

  .bottom__block {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
  }
}
