$lite-background: #ffffff;
$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
$lite-color: #000;
$dark-color: #ffffff;
$base-color: #939cb0;
$card-lite-background: rgba(71, 147, 255, 0.2);
$card-dark-background: #2e3035;
